@media screen and ( max-width: 1240px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
    .hero
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
@media screen and ( min-width: 1600px )
    .contacts
        &__button
            display: flex
        &__phone
            margin-right: 3.75rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width: 885px )
    .card
        &__title
            font-size: 1rem
@media screen and ( max-width: 750px )
    .row
        flex-direction: column
        align-items: center
    .types__card
        margin-bottom: 5rem
    .design__card
        margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
        &__title
            font-size: 1.29rem
    .design
        &__section-title
            color: $light
        &__color
        background: linear-gradient(to top, $dark 100%, transparent 0%)
    
@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .section-subtitle
        &__text
            color: $light
            font-size: 1rem
@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none
        &__button
            padding: 20px 70px
            margin-left: 18px
@media screen and ( max-width: 320px )
    .hero
        &__button
            margin: 0 auto
            margin-bottom: 1.83rem
    
    
    