@media screen and ( max-width: 1240px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
    .hero
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .menu
        &__contacts
            display: flex
        &__button
            display: block
        &__nav
            font-size: 1.16rem
    .contacts
        &__phone
            display: flex
            justify-content: space-between
            align-items: center

@media screen and ( max-width: 992px )
    .row
        &__two
            flex-direction: column
            .col-50
                width: 100%
                &--two
                    margin-top: 3rem
    .swiper-slider-image
        width: 100%
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width: 885px )
    .card
        &__title
            font-size: 1rem
@media screen and ( max-width: 845px )
    .section-title
        &__heading
            font-size: 1.83rem 
@media screen and ( max-width: 750px )
    .row
        flex-direction: column  
        align-items: center
    .types__card
        margin-bottom: 5rem
    .design__card
        margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
        &__title
            font-size: 1.29rem
    .design, .control
        &__section-title, &__text
            color: $light
        &__color
        background: linear-gradient(to top, $dark 100%, transparent 0%)
    .input-group
        &__one
            flex-basis: 100%
            margin-bottom: 4.64rem
    .input-group
        &__two
            flex-basis: 100%
            margin-bottom: 1rem
    .control
        &__text
            font-size: 1.06rem
        &__policy-label
            margin-bottom: 4.5rem
            justify-content: start
        &__label
            color: $secondary
        &__policy
            color: $light
        &__button
            position: absolute
            left: 50%
            margin-left: -150px
            padding: 20px 124px
            margin-top: 23rem
    .section-title
        &__word
            &::after
                display: none        
    .section-image
        &__image
            margin-top: 2.987rem
            width: 100%
    .swiper-slide
        &__heading
            font-size: 1.166rem
    
@media screen and ( max-width: 570px )
    .col-50
        justify-content: flex-start
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .section-title
        &__text
            width: 20rem
            max-height: 76px
            line-height: 1.7rem
            font-size: 1.06rem
            margin-bottom: 3.25rem
    .swiper-slide        
        margin-left: 0
        &__heading
            font-size: 1rem
        &__text
            font-size: 1rem
            width: 50%
        &__value
            line-height: 1.428rem
    .swiper-container
        margin-left: 0
        width: 22.8rem
    .footer
        &__input-group
            flex-basis: 100%
        &__button
            // padding: 1.357rem 8.571rem
            margin: auto
            width: 100%
            text-align: center
        &__color
            background: $dark
        &__position
            display: flex
            flex-direction: column
        &__text
            order: 2
            width: 25rem
        &__map
            order: 1
            width: 24rem
            margin: auo
        &__wrap
            background-color: $dark
            margin-top: -35rem
    .policy
        &__label
            justify-content: flex-start
            margin-top: -2rem
            margin-bottom: 4.785rem
            font-size: 1.142rem
@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none
        &__button
            padding: 20px 70px
            margin-left: 18px
@media screen and ( max-width: 320px )
    .col-50
        width: 100%
    .header
        width: 26.7rem
    .hero
        &::after
            display: none
    .hero
        &__button
            margin: 0 auto
            margin-bottom: 1.83rem
    .section-title
        &__text
            padding: 0
            width: 20rem
            max-height: 76px
            line-height: 1.7rem
            font-size: 1.06rem
            margin-bottom: 3.25rem
        &__heading
            margin-top: -36px
    .swiper-slide
        &__text
            width: 50%
        &__value
            line-height: 1.428rem
    .swiper-container
        width: 22.85rem